%h2 User flow

Note: Mixpanel is loaded in a global layout (
= link_to "source", "https://github.com/joshsilverman/leadgen_sample/blob/master/app/views/layouts/application.html.haml"
)

%ol
  %li
    = link_to "Land", "/static/land"
    (
    = link_to "source", "https://github.com/joshsilverman/leadgen_sample/blob/master/app/views/static/land.html.haml"
    )
  %li
    = link_to "Activate", "/static/activate"
    (
    = link_to "source", "https://github.com/joshsilverman/leadgen_sample/blob/master/app/views/static/activate.html.haml"
    )
  %li
    = link_to "Engage", "/static/engage"
    (
    = link_to "source", "https://github.com/joshsilverman/leadgen_sample/blob/master/app/views/static/engage.html.haml"
    )

Other notes:
%ul
  %li 
    Full source code on
    = link_to "github", "https://github.com/joshsilverman/leadgen_sample/blob/master/"
  %li
    Mixpanel funnel
    = link_to "here", "/assets/funnel.jpeg"