Note: Mixpanel is loaded in a global layout (
= link_to "source", "https://github.com/joshsilverman/leadgen_sample/blob/master/app/views/layouts/application.html.haml"
)

%h3 Mock pages

%ol
  %li
    = link_to "Land with Wisr UTM", "/static/land?utm_source=wisr&utm_medium=twitter&utm_content=NAME_OF_HANDLE&utm_campaign=wisrtest&version=new&utm_twi_screen_name=unk"
    (
    = link_to "source", "https://github.com/joshsilverman/leadgen_sample/blob/master/app/views/static/land.html.haml"
    )
  %li
    = link_to "Activate", "/static/activate"
    (
    = link_to "source", "https://github.com/joshsilverman/leadgen_sample/blob/master/app/views/static/activate.html.haml"
    )
  %li
    = link_to "Engage", "/static/engage"
    (
    = link_to "source", "https://github.com/joshsilverman/leadgen_sample/blob/master/app/views/static/engage.html.haml"
    )

%h3 Other notes:

%ul
  %li 
    Full source code on
    = link_to "github", "https://github.com/joshsilverman/leadgen_sample/blob/master/"
  %li
    Mixpanel funnel
    = link_to "here", "/assets/funnel.jpeg"